SECRET_KEY=j88%t8y+13l@mbo!jm2no3j0oqf&a%w@tgmcw^kww=(6!+1m71
DEBUG=True

# SMTP для обратной связи (Mail.ru)
EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=vlad170206@list.ru
EMAIL_HOST_PASSWORD=oBzQJRwB5tljsEkn1pkB
DEFAULT_FROM_EMAIL=vlad170206@list.ru
FEEDBACK_RECIPIENT=vlad170206@list.ru

# Для Gmail:
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
